input{width:80vw; height:5vw;
     border-radius:10px;
     margin:10px 10vw 20px 10vh;
     font-size:2vw;}
input::placeholder{text-align:center; opacity:0.6;}
button{width:60vw; height:8vw; color:white;
      border-radius:1vw; margin:10px 20vw 0 20vw;
      background-color:rgb(50,80,80); size:4vw;}
body{backhround-color:rgb(10,10,10);}
